.nosoTros{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background:linear-gradient(90deg,rgb(30, 217, 241), rgb(172, 215, 230), rgb(30, 217, 241));
    height: auto;
    justify-content: center;
    grid-gap: 30px;

    .nosoTros__h2 {
        font-size: 30px;
        padding-left:6px ;
    }
    .nosoTros__p{
        font-size: 20px;
        padding-left:10px ;
    }
    
}
